.vscode/
*.o
src/Tomator1D
src/AUG4/*
!src/AUG4/.gitkeep
!src/AUG4/*.c
!src/AUG4/*.h
!src/AUG4/*.cpp
src/MatlabScripts/*
!src/MatlabScripts/*.mat
!src/MatlabScripts/*.m
src/TCV_Bvscan_150/*
!src/TCV_Bvscan_150/.gitkeep
!src/TCV_Bvscan_150/*.c
!src/TCV_Bvscan_150/*.h
!src/TCV_Bvscan_150/*.cpp
DataFetcher/
Data/*
!Data/.gitkeep
!Data/Fortran/
!Data/Solution/
Data/Fortran/*
!Data/Fortran/.gitkeep
src/InterfaceFuncs/*.txt
*.txt
*.dat
*.log
*.mod
src/SimParams/Private/*
!src/SimParams/Private/.gitkeep
src/__pycache__/*
*.zip
src/InterfaceFuncs/__pycache__/*.pyc
src/Scripts/*.sh
src/Scripts/*.batch
src/Tomator_exe/*.sif
src/Tomator_exe/*.csv
src/Tomator_exe/data/TOMATOR/*
!src/Tomator_exe/data/TOMATOR/.gitkeep

