.vscode/
*.o
*.dat
*.log
*.mod
Res*.csv
src/build
tests/*.txt

# Python
__pycache__/
*.pyc
*.pyo
TomatorResults/
# Test folders not to track
other_tests/

# Compiled test binaries
test_collisions_cpp
test_single_collision